{% layout "layout.liquid" %}
{% block content %}
<a href="/user/logout"><button>Logout</button></a>
<div class="top">
    <h2>My Patterns</h2>
    <a href="/patterns/new"><button class="add">+</button></a>
    <a href="/patterns/new" class="hide"><button class="add-full">Add New Pattern</button></a>
</div>

<div class="main-container">
    {% for pattern in patterns %}
    <div class="pattern">
        <h3 class="title">{{pattern.name}}</h3>
        <!-- <a href="/patterns/{{pattern._id}}"> -->
            <img src="{{pattern.img}}" class="open-modal">
        <!-- </a> -->
        <div class="icons">
            <a href="/patterns/{{pattern._id}}/edit"><i class="fas fa-pencil-alt fa-lg"></i></a>

            <form action="/patterns/{{pattern._id}}?_method=delete" method="post">
                <button type="submit" class="delete-btn">
                    <i class="fas fa-trash-alt fa-lg"></i>
                </button>
            </form>
        </div>
    </div>

    <div class="overlay hide">
        <div class="modal">
            <img src="{{pattern.img}}">
            <div>
                <div class="modal-intro">
                    <h2 class="pattern-name">{{pattern.name}}</h2>
                    <h3>Created By: {{pattern.designer}}</h3>
                </div>
        
                <h4>{{pattern.description}}</h4>
                <a href="patterns/{{pattern._id}}"><button>More Info</button></a>
    
                <a class="close">Close</a>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}