{% layout "layout.liquid" %}
{% block content %}
<div class="top">
    <h2>My Patterns</h2>
    <div class="top-icons">
        <i class="fas fa-search fa-2x" id="search"></i>
        <div class="dropdown">
            <i class="fas fa-sliders-h fa-2x filter"></i>
            <div id="filterDropdown" class="dropdown-content hide">
                <p>Filters:</p>
                <a id="chunky-a">Chunky</a>
                <a id="beg-a">Beginner</a>
                <a id="sweater-a">Sweater</a>
                <p id="reset-a">Reset</p>
            </div>
        </div>
        <a href="/patterns/new"><button class="add">+</button></a>
    </div>
</div>

<div>
    <input type="search" placeholder="Search for patterns" class="hide">
</div>

<div class="main-container">
    {% for pattern in patterns %}
    <!-- Add tags to each pattern item via class -->
    <div class="pattern {{pattern.tags | replace: ",", " "}}">
        <h3 class="title">{{pattern.name}}</h3>
        <!-- <a href="/patterns/{{pattern._id}}"> -->
            <img src="{{pattern.img}}" class="open-modal">
        <!-- </a> -->
        <div class="icons">
            <a href="/patterns/{{pattern._id}}/edit"><i class="fas fa-pencil-alt fa-lg"></i></a>

            <form action="/patterns/{{pattern._id}}?_method=delete" method="post">
                <button type="submit" class="delete-btn">
                    <i class="fas fa-trash-alt fa-lg"></i>
                </button>
            </form>
        </div>
    </div>

    <div class="overlay hide">
        <div class="modal">
            <img src="{{pattern.img}}">
            <div>
                <div class="modal-intro">
                    <h2 class="pattern-name">{{pattern.name}}</h2>
                    <h3>Created By: {{pattern.designer}}</h3>
                </div>
        
                <h4>{{pattern.description}}</h4>
                <a href="patterns/{{pattern._id}}"><button class="orange-btn">More Info</button></a>
    
                <a class="close">Close</a>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}