{% layout "layout.liquid" %}
{% block content %}
    <div class="show-container">
        <div class="pattern-intro">
            <h2 class="pattern-name">{{pattern.name}}</h2>
            <h3>Created By: {{pattern.designer}}</h3>
        </div>

        <img src="{{pattern.img}}">

        <div class="pattern-body">
            <h4>{{pattern.description}}</h4>
            <div class="details">
                <h5>Level: {{pattern.level}}</h5>
                <h5>Yarn Weight: {{pattern.yarnWeight}}</h5>
                <h5>Needle Size (US): {{pattern.needleSize}}</h5>
            </div>
            {% if pattern.purchased == false %}
            <div class="purchase">
                <a href="{{pattern.link}}" class="purchase-link">Purchase Here</a>
                <h5>${{pattern.price}}</h5>
            </div>
            {% endif %}
            <p class="tag-title">Tags:</p>
            <div class="tags">
                {% for tag in pattern.tags%}
                <p>{{tag}}</p>
                {% endfor %}
            </div>
            <div class="buttons">
                <a href="/patterns/{{pattern._id}}/edit"><button class="orange-btn">Edit Pattern</button></a>
                <form action="/patterns/{{pattern._id}}?_method=delete" method="post">
                    <input type="submit" value="Delete Pattern" class="orange-btn">
                </form>
            </div>
        </div>
    </div>
    <a href="/patterns" class="back">Back to Patterns List</a>
{% endblock %}