{% layout "layout.liquid" %}
{% block content %}
    <div class="show-container">
        <h2 class="pattern-name">{{pattern.name}}</h2>
        <h3>Created By: {{pattern.designer}}</h3>
        <img src="{{pattern.img}}">
        <h4>{{pattern.description}}</h4>
        <div class="details">
            <h5>Level: {{pattern.level}}</h5>
            <h5>Yarn Weight: {{pattern.yarnWeight}}</h5>
            <h5>Needle Size (US): {{pattern.needleSize}}</h5>
        </div>
        {% if pattern.purchased == false %}
        <div class="purchase">
            <a href="{{pattern.link}}">Purchase on Etsy</a>
            <h5>${{pattern.price}}</h5>
        </div>
        {% endif %}
        <p class="tags">Tags: {{pattern.tags}}</p>
        <div class="buttons">
            <a href="/patterns/{{pattern._id}}/edit"><button>Edit Pattern</button></a>
            <form action="/patterns/{{pattern._id}}?_method=delete" method="post">
                <input type="submit" value="Delete Pattern">
            </form>
        </div>
    </div>
    <a href="/patterns" class="back">Back to Patterns List</a>
{% endblock %}